<div>
    <a class="nav-link active" aria-current="page" routerLink="/home">Home</a>
    <a class="nav-link active" aria-current="page" routerLink="/nesting"> Nesting </a>
    <a class="nav-link active" aria-current="page" routerLink="/friend"> Friend</a>
    <a class="nav-link active" aria-current="page" routerLink="/data-binding"> Data-Binding</a>
<!--     <a class="nav-link active" aria-current="page" routerLink="/ng-style"> Ng-Style</a> -->
    <a class="nav-link active" aria-current="page" routerLink="/ng-for"> Ng-For</a>
    <a class="nav-link active" aria-current="page" routerLink="/eval-1"> Eval 1</a>
<!--     <a class="nav-link active" aria-current="page" routerLink="/input"> Input/Output</a> -->
    <a class="nav-link active" aria-current="page" routerLink="/pokemon-list"> Pokemon</a>
    <a class="nav-link active" aria-current="page" routerLink="/lune"> Api Cocktail</a>

</div>
